<h1>Nueva factura</h1>
<%= form_for @bill do |f| %>
  <p> 
    Name: <%= f.text_field :name %>
  </p>
  <p> 
    billing_id: <%= f.text_field :billing_id %>
  </p>
  <p>
    date: <%=f.date_field :date %>
  </p>
  <p> 
    billing_address: <%= f.text_field :billing_address %>
  </p>
  <p> 
    billing_name: <%= f.text_field :billing_name %>
  </p>
  <p> 
    billing_city: <%= f.text_field :billing_city %>
  </p>
  <p> 
    billing_postal_code: <%= f.text_field :billing_postal_code %>
  </p>
  <p> 
    billing_cif: <%= f.text_field :billing_cif %>
  </p>
  <%= hidden_field_tag('bill[company_id]', @company.id) %>

  <table id="bills-form-table" class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Descripción</th>
        <th scope="col">Tipo</th>
        <th scope="col">Monto</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <%= f.fields_for :items do |item_form| %>
        <tr>
          <th scope="row"><%=@row_id%></th>
          <td><%= item_form.text_field :description %></td>
          <td><%= item_form.number_field :item_type %></td>
          <td class="amount-field"><%= item_form.number_field :amount %></td>
          <td>
            <%= item_form.check_box :_destroy %>
            <%= item_form.label :_destroy, "Remove Task" %> 
            <%= link_to 'Eliminar item','#', id:"delete-item", class:"btn btn-primary", params:{'position' => @row_id} %>       
          </td>
        </tr>
      <% end %>
    </tbody>
</table>

<%= link_to 'Agregar item','#', id:"add-item", class:"btn btn-primary", params:{'position' => @row_id} %>
  <br>
  <br>
  <%= hidden_field_tag('bill[total]', @bill.total) %>
  <p> 
    total: <p id="item-total">0</p> 
  </p>

  <p>
    <%= f.submit 'Crear factura' %>
  </p>
<% end %>